MailSim/MailSim/Options.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="MailSimOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="ProviderType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="OOM" />
              <xs:enumeration value="HTTP" />
              <xs:enumeration value="SDK" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="UserName" type="xs:string"/>
        <xs:element minOccurs="0" name="Password" type="xs:string"/>
        <!-- Specifies whether to turn off Outlook security prompt-->
        <xs:element minOccurs="0" name="DisableOutlookPrompts" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
